@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Light.ttf');
  font-weight: 100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #282828;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  background-blend-mode: multiply;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3c3c3c;
  z-index: 9999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  /* border: 2px solid rgba(134, 134, 134, 1);
  border-radius: 30px; */
  position: relative;
  background: center/cover no-repeat rgba(0, 0, 0, 0.3);
  transition: background-image 1s ease-in-out;
  background-blend-mode: multiply;
}

/* .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 40px rgba(72, 72, 72, 0.2);
  backdrop-filter: blur(10px) grayscale(30%) brightness(95%);
  -webkit-backdrop-filter: blur(5px) grayscale(30%) brightness(95%);
  border-radius: 50%;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

#progressBar {
  appearance: none;
  height: 16px;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}
#progressBar::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #ffffff;
  height: 16px;
  width: 16px;
  border-radius: 30px;
  box-shadow: -101vh 0 0 100vh #ddcb7a;
}

#progressBar::-moz-range-thumb {
  background: #ddcb7a;
  height: 16px;
  width: 16px;
  border-radius: 30px;
}

#progressBar::-ms-thumb {
  background: #ddcb7a;
  height: 16px;
  width: 16px;
  border-radius: 30px;
}

.player {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) grayscale(35%) brightness(80%);
  -webkit-backdrop-filter: blur(5px) grayscale(30%) brightness(85%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 100;
}

.player-controls {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 3px 2px 20px rgba(72, 72, 72, 0.2);
  background-color: rgba(224, 224, 224, 0.2);
  backdrop-filter: blur(5px) grayscale(30%) brightness(95%);
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 23px;
  list-style: none;
  font-weight: 100;
  opacity: 0.6;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: url(../assets/svg/play.svg);
  position: absolute;
  left: 0;
  top: 44%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  transition: 0.3s;
}

.item-active::before {
  content: url(../assets/svg/pause.svg);
}

.item-active {
  opacity: 1;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: none;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}
.player-icon {
  width: 40px;
  height: 40px;
  background-size: 29px 29px;
  padding: 10px;
  border-radius: 10px;
}

.player-icon:last-child {
  width: 32px;
  height: 32px;
}

.player-icon:hover {
  background-color: rgba(0, 0, 0, 0.15);
  /* filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4)); */
}

.player-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(0.9);
}

.player-icon:last-child:active {
  transform: none;
}

.player-icon:last-child:hover {
  background-color: rgba(0, 0, 0, 0);
}

.time-slider {
  padding: 0 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-prev:active {
  transform: scale(0.85) translateX(-5px);
}

.slide-next:active {
  transform: scale(0.85) translateX(5px);
}

.rotate-quote {
  animation: rotate 1s forwards ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  80% {
    transform: rotate(190deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.play {
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.volume {
  transition: all 0.4s;
  position: relative;
  background-image: url('../assets/svg/volume-high-solid.svg');
  overflow: hidden;
}

.volume:hover {
  width: 90px;
  background-image: none;
}

#volumeBar {
  display: none;
}

#volumeBar {
  appearance: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 90px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.15);
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  animation: opacity 0.3s forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #ffffff;
  height: 32px;
  width: 20px;
  border-radius: 10px;
  box-shadow: -101vh 0 0 100vh #ddcb7a;
}

#volumeBar::-moz-range-thumb {
  background: #ddcb7a;
  height: 40px;
  width: 20px;
  border-radius: 10px;
}

#volumeBar::-ms-thumb {
  background: #ddcb7a;
  height: 40px;
  width: 20px;
  border-radius: 10px;
}

.volume-off {
  background-image: url('../assets/svg/volume-xmark-solid.svg');
}

.weather {
  width: 250px;
  text-align: left;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px) grayscale(35%) brightness(80%);
  -webkit-backdrop-filter: blur(5px) grayscale(30%) brightness(95%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.weather-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 7px;
  margin-top: 10px;
}

.weather-error {
  margin-top: 10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city,
.todo-input {
  width: 100%;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.temperature,
.weather-description,
.weather-icon {
  color: #fff;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-size: 100px;
  letter-spacing: 2px;
  text-shadow: 0 0 30px rgba(72, 72, 72, 0.6);
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 100;
  text-shadow: 0 0 10px rgba(72, 72, 72, 0.7);
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
  text-shadow: 0 0 10px rgba(72, 72, 72, 0.7);
}

.name {
  flex: 1;
  max-width: 46%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(72, 72, 72, 0.7);
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 85%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  margin: 0 auto;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 32px;
  font-weight: 100;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.author {
  min-height: 20px;
  color: #ddcb7a;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.animation-smoothOpacity {
  animation: smoothOpacity 1s forwards;
}

.settings-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border: none;
  background: url(../assets/svg/gear-solid.svg) center no-repeat;
  cursor: pointer;
  transition: 0.3s all;
}

.settings-menu,
.todo-menu {
  display: none;
  position: absolute;
  padding: 20px;
  bottom: 80px;
  min-width: 300px;
  min-height: 50px;
  max-height: 350px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) grayscale(35%) brightness(80%);
  -webkit-backdrop-filter: blur(5px) grayscale(30%) brightness(85%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: 0.3s all;
  opacity: 0;
  overflow-y: auto;
  /* z-index: 100; */
}

.todo-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border: none;
  background: url(../assets/svg/clipboard-check-solid.svg) center no-repeat;
  cursor: pointer;
  transition: 0.3s all;
}

.settings-menu {
  left: 20px;
}

.todo-menu {
  right: 20px;
}

.todo-tasks {
  /* padding: 20px; */
  text-align: left;
}

.todo-input {
  font-size: 16px;
}

.todo-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar {
  margin-right: 10px;
  transform: translateX(-10px);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(97, 97, 97);
  border-radius: 5px;
}

.todo-task,
.todo-complete {
  display: flex;
  column-gap: 10px;
  align-items: flex-start;
  margin-top: 10px;
  list-style-type: none;
  font-weight: 100;
  cursor: pointer;
  transition: 0.3s all;
  position: relative;
}

.todo-complete {
  color: #acacac;
}

/* .todo-task::after,
.todo-complete::after {
  content: '\✖';
  color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
} */

.todo-delete {
  position: absolute;
  background: url(../assets/svg/times-solid.svg) center no-repeat;
  opacity: 0;
  right: 0;
  width: 16px;
  height: 16px;
  top: 56%;
  transform: translateY(-50%);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.todo-task:hover .todo-delete,
.todo-complete:hover .todo-delete {
  opacity: 0.6;
}

.todo-task::before,
.todo-complete::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-top: 3px;
  background-color: #fff;
  transition: 0.2s all;
}

.todo-complete::before {
  content: '\✔';
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5cc632;
}

.todo-placeholder {
  margin-top: 15px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 100;
  text-align: left;
}

.todo-btn:active,
.settings-btn:active {
  transform: scale(0.9);
}

.active-menu {
  display: block;
  opacity: 1;
  transition: 0.3s all;
}

.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 2px;
}

.lang-btn,
.photo-btn {
  width: 50px;
  height: 30px;
  margin-left: 7px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all;
}

.settings-btn-active {
  color: #000;
  background-color: rgba(255, 255, 255, 1);
}

@keyframes smoothOpacity {
  0% {
    opacity: 100%;
    transform: translateY(0px);
  }
  50% {
    opacity: 0%;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.photo-stocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  margin-top: 20px;
}

.photo-btn {
  width: 100%;
  margin-left: 0;
}

.mobile-error {
  display: none;
}

@media (max-width: 768px) {
  body,
  html {
    min-width: 0;
    overflow: hidden;
  }

  .mobile-error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    backdrop-filter: blur(50px) grayscale(30%) brightness(80%);
    -webkit-backdrop-filter: blur(50px) grayscale(30%) brightness(80%);
  }

  .error-text {
    color: #ffffff;
    font-size: 26px;
    line-height: 50px;
    letter-spacing: 3px;
  }

  .footer {
    height: 0;
  }

  .circle,
  .weather,
  .player,
  .time,
  .date,
  .greeting-container,
  .quote,
  .author,
  .change-quote {
    display: none;
  }

  /* .wrapper {
    display: none;
  } */

  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
